<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>

    <script> 
        const gameName  = "<%= gameName %>"
    </script>
    <script defer src="/js/darkMode.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/game.js"></script>

    <style>
        @import url('/css/style.css');
    </style>

</head>
<body>
    <div class="container">
        <div class="prompt-user-name-container">
            <p id="name-input-label">Please enter your name</p>
            <form class="input-bar">
                <input type="text" name="inputName" class="user-name-input" autocomplete="off" maxlength="50" autofocus>
                <button type="submit" class="button user-name-input-submit">Enter</button>
            </form>
        </div>
        <div class="left">
            <header>
                <div>
                    <a href="/" class="back-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"/></svg>
                    </a>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox" id="dark-mode-checkbox" onclick="toggleDarkMode()">
                    <span class="slider round"></span>
                    <p>Dark<br>Mode</p>
                </label>
            </header>
            <div class="game">
                <div id="turnMessage"></div>
                <div id="board" class="board">
                    <div class="cell" id="cell0" data-cell></div>
                    <div class="cell" id="cell1" data-cell></div>
                    <div class="cell" id="cell2" data-cell></div>
                    <div class="cell" id="cell3" data-cell></div>
                    <div class="cell" id="cell4" data-cell></div>
                    <div class="cell" id="cell5" data-cell></div>
                    <div class="cell" id="cell6" data-cell></div>
                    <div class="cell" id="cell7" data-cell></div>
                    <div class="cell" id="cell8" data-cell></div>
                </div>
                <div id="win-counter-container">
                    <p id="x-score"></p>
                    <p id="circle-score"></p>
                </div>
                <div id="winningMessage" class="winning-message">
                    <div id="winner-text" data-winning-message-text></div>
                    <button id="restartButton" class="button">Restart</button>
                </div>
            </div>
        </div>
        <div class="chat">
            <div id="message-container"></div>
            <div id="typing-feedback"></div>
            <form id="send-container" class="input-bar">
                <input type="text" id="message-input" autocomplete="off" maxlength="250">
                <button type="submit" id="send-button" class="button">Send</button>
            </form>
        </div>
    </div>
</body>
</html>