<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>

    <script> 
        const gameName  = "<%= gameName %>"
    </script>
    <script defer src="/js/darkMode.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/game.js"></script>

    <style>
        @import url('/css/style.css');
    </style>

</head>
<body>
    <div class="container">
        <div class="prompt-user-name-container">
            <p id="name-input-label">Please enter your name</p>
            <form class="input-bar">
                <input type="text" name="inputName" class="user-name-input" autocomplete="off" maxlength="50" autofocus>
                <button type="submit" class="button user-name-input-submit">Enter</button>
            </form>
        </div>
        <div class="left">
            <header>
                <div>
                    <a href="/" class="back-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"/></svg>
                    </a>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox" id="dark-mode-checkbox" onclick="toggleDarkMode()">
                    <span class="slider round">
                        <svg xmlns="http://www.w3.org/2000/svg" class="sun" viewBox="-2 -1.5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-sun-f"><path d='M10 15.565a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-15a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm0 16a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-9-7h2a1 1 0 1 1 0 2H1a1 1 0 0 1 0-2zm16 0h2a1 1 0 0 1 0 2h-2a1 1 0 0 1 0-2zm.071-6.071a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0zM5.757 14.808a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0zM4.343 3.494l1.414 1.414a1 1 0 0 1-1.414 1.414L2.93 4.908a1 1 0 0 1 1.414-1.414zm11.314 11.314l1.414 1.414a1 1 0 0 1-1.414 1.414l-1.414-1.414a1 1 0 1 1 1.414-1.414z' /></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="moon" viewBox="-4 -2 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-moon-f"><path d='M12.253.335A10.086 10.086 0 0 0 8.768 8c0 4.632 3.068 8.528 7.232 9.665A9.555 9.555 0 0 1 9.742 20C4.362 20 0 15.523 0 10S4.362 0 9.742 0c.868 0 1.71.117 2.511.335z' /></svg>
                    </span>
                </label>
            </header>
            <div class="game">
                <div id="turnMessage"></div>
                <div id="board" class="board">
                    <div class="cell" id="cell0" data-cell></div>
                    <div class="cell" id="cell1" data-cell></div>
                    <div class="cell" id="cell2" data-cell></div>
                    <div class="cell" id="cell3" data-cell></div>
                    <div class="cell" id="cell4" data-cell></div>
                    <div class="cell" id="cell5" data-cell></div>
                    <div class="cell" id="cell6" data-cell></div>
                    <div class="cell" id="cell7" data-cell></div>
                    <div class="cell" id="cell8" data-cell></div>
                </div>
                <div id="win-counter-container">
                    <p id="x-score"></p>
                    <p id="circle-score"></p>
                </div>
                <div id="winningMessage" class="winning-message">
                    <div id="winner-text" data-winning-message-text></div>
                    <button id="restartButton" class="button">Restart</button>
                </div>
            </div>
        </div>
        <div class="chat">
            <div id="message-container"></div>
            <div id="typing-feedback"></div>
            <form id="send-container" class="input-bar">
                <input type="text" id="message-input" autocomplete="off" maxlength="250">
                <button type="submit" id="send-button" class="button">Send</button>
            </form>
        </div>
    </div>
</body>
</html>