<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>

    <script defer src="/js/darkMode.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/game.js"></script>
    

    <style>
        @import url('/css/style.css');

        .cell.x::before,
        .cell.x::after {
            background-color: rgb(156, 31, 31);
        }
        
        .cell.circle::before{
            background-color: #187bcd;
            float: right;
        }

        .cell {
            cursor: default !important;
        }
    </style>
</head>
<body>
    <div class="prompt-user-name-container">
        <p id="name-input-label">Please enter your name</p>
        <form class="input-bar">
            <input type="text" name="inputName" class="user-name-input" autocomplete="off" maxlength="50" autofocus>
            <button type="submit" class="button user-name-input-submit">Enter</button>
        </form>
    </div>
    <header id="homepage-header">
        <div class="title">
            <h1>
                <span>Tic</span><br>
                <span>Tac</span><br>
                <span>Toe</span><br>
                <span>Online</span>
            </h1>
        </div>
        <label class="toggle-switch">
            <input type="checkbox" id="dark-mode-checkbox" onclick="toggleDarkMode()">
            <span class="slider round">
                <svg xmlns="http://www.w3.org/2000/svg" class="sun" viewBox="-2 -1.5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-sun-f"><path d='M10 15.565a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-15a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm0 16a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-9-7h2a1 1 0 1 1 0 2H1a1 1 0 0 1 0-2zm16 0h2a1 1 0 0 1 0 2h-2a1 1 0 0 1 0-2zm.071-6.071a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0zM5.757 14.808a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0zM4.343 3.494l1.414 1.414a1 1 0 0 1-1.414 1.414L2.93 4.908a1 1 0 0 1 1.414-1.414zm11.314 11.314l1.414 1.414a1 1 0 0 1-1.414 1.414l-1.414-1.414a1 1 0 1 1 1.414-1.414z' /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="moon" viewBox="-4 -2 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-moon-f"><path d='M12.253.335A10.086 10.086 0 0 0 8.768 8c0 4.632 3.068 8.528 7.232 9.665A9.555 9.555 0 0 1 9.742 20C4.362 20 0 15.523 0 10S4.362 0 9.742 0c.868 0 1.71.117 2.511.335z' /></svg>
            </span>
        </label>
        <div class="game-container">
            <div id="board-example">
                <div id="quadrant1" class="quadrant"></div>
                <div id="quadrant2" class="quadrant"></div>
                <div id="quadrant3" class="quadrant"></div>
                <div id="quadrant4" class="quadrant"></div>
            </div>
            <div id="game-example" class="game">
                <div id="board-example" class="board">
                    <div class="cell x" id="cell0" data-cell></div>
                    <div class="cell" id="cell1" data-cell></div>
                    <div class="cell circle" id="cell2" data-cell></div>
                    <div class="cell" id="cell3" data-cell></div>
                    <div class="cell circle" id="cell4" data-cell></div>
                    <div class="cell x" id="cell5" data-cell></div>
                    <div class="cell circle" id="cell6" data-cell></div>
                    <div class="cell" id="cell7" data-cell></div>
                    <div class="cell" id="cell8" data-cell></div>
                </div>
            </div>
        </div>
    </header>

    <section id="game-selection">
        <div id="create-game">
            <h3>Create a Game</h3>
            <form action="/game" method="POST" class="input-bar">
                <input type="text" name="game" placeholder="Name of game" autocomplete="off" maxlength="25" minlength="4" required>
                <button type="submit" class="button">Start game</button>
            </form>
        </div>
        <div id="join-game">
            <h3>Join a Game</h3>

            <div id="join-game-list">
                <% Object.keys(games).forEach(game => { %>
                    <div class="game-card">
                        <h4><%= game %></h4>
                        <a href="/<%= game %>" class="joinGameLink">Join</a>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
</body>
<!-- <script
			  src="https://code.jquery.com/jquery-3.5.0.min.js"
			  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
              crossorigin="anonymous">
            </script> -->
<script>
    // let gameExample = document.getElementById('game-example')
    // let boardExample = document.getElementById('board-example')
    // let quadrant1 = document.getElementById('quadrant1')
    // let quadrant2 = document.getElementById('quadrant2')
    // let quadrant3 = document.getElementById('quadrant3')
    // let quadrant4 = document.getElementById('quadrant4')
    // let pageX = document.body.clientWidth;


    // mousePerspective($(window).width(), $(window).height());

    // function mousePerspective(w, h){
    //     $(document).mousemove(function(e){
    //         var Xmouse = e.pageX;
    //         var Ymouse = e.pageY;

    //         //calc perc
    //         var Xperc = Xmouse / w;
    //         var Yperc = Ymouse / h;
    //         Xpos = Math.floor(Xperc * 100);
    //         Ypos = Math.floor(Yperc * 100);
    //         console.info("X Axis : " + Xpos + " Y Axis : " + Ypos);
    //         Xrev = 100 - Xpos;
    //         Yrev = 100 - Ypos;

    //         $("#gameExample").css({ perspectiveOrigin: Xpos+'% '+Ypos+'%' });
    //     })
    // }
</script>
</html>