<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>

    <script defer src="/js/darkMode.js"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/js/game.js"></script>
    

    <style>
        @import url('/css/style.css');
    </style>
</head>
<body>
    <div class="name-popup">
        <p id="name-input-label">Please enter your name here</p>
        <div class="input-Bar">
            <input type="text" name="inputName" id="inputName">
            <button type="submit" id="nameInputSubmit" class="button">Enter</button>
        </div>
    </div>
    <header id="homepage-header">
        <div class="title">
            <h1>
                <span>Tic</span>
                <span>Tac</span>
                <span>Toe</span>
                <span>Online</span>
            </h1>
        </div>
        <label class="toggle-switch">
            <input type="checkbox" id="dark-mode-checkbox" onclick="toggleDarkMode()">
            <span class="slider round"></span>
        </label>
        <div class="game-container">
            <div class="game">
                <div id="board" class="board example">
                    <div class="cell blank" id="cell0" data-cell></div>
                    <div class="cell blank" id="cell1" data-cell></div>
                    <div class="cell blank" id="cell2" data-cell></div>
                    <div class="cell blank" id="cell3" data-cell></div>
                    <div class="cell blank" id="cell4" data-cell></div>
                    <div class="cell blank" id="cell5" data-cell></div>
                    <div class="cell blank" id="cell6" data-cell></div>
                    <div class="cell blank" id="cell7" data-cell></div>
                    <div class="cell blank" id="cell8" data-cell></div>
                </div>
            </div>
        </div>
    </header>

    <section id="game-selection">
        <div id="create-game">
            <h3>Create a Game</h3>
            <form action="/game" method="POST" class="input-Bar">
                <input type="text" name="game" placeholder="Name of game" autocomplete="off" maxlength="25" minlength="4" required>
                <button type="submit" class="button">New game</button>
            </form>
        </div>
        <div class="join-game">
            <h3>Join a Game</h3>

            <div id="game-container">
                <% Object.keys(games).forEach(game => { %>
                    <div class="game-card">
                        <h4><%= game %></h4>
                        <a href="/<%= game %>" class="joinGameLink">Join</a>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
</body>
</html>