*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    --background-color: white;
    --accent-color: #187bcd;
    --secondary-color: rgb(214, 214, 214);
    --text-color: #333;

    --button-text-color: white;
    --input-background-color: var(--secondary-color);

    --tictactoe-line-color: #333;
    --tictactoe-x-color: #187bcd;
    --tictactoe-circle-color: rgb(114, 114, 114);

    --darkMode-transition-speed: 300ms;

    background-color: var(--background-color);
    color: var(--text-color);

    transition: var(--darkMode-transition-speed);
}
body.dark {
    --background-color: #333;
    --accent-color: #187bcd;
    --secondary-color: white;
    --text-color: white;

    --button-text-color: white;
    --input-background-color: white;

    --tictactoe-line-color: white;
    --tictactoe-x-color: #187bcd;
    --tictactoe-circle-color: rgb(156, 31, 31);
}

/*  Components  */

a, p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: var(--text-color);
    transition: var(--darkMode-transition-speed);
}

h3 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--darkMode-transition-speed);
}

.input-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}
.input-bar input[type=text]{
    padding: 1em;
    height: 35px;
    color: #333;
    border: transparent;
    border-radius: .25em;
    background-color: var(--secondary-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: var(--darkMode-transition-speed);
}

.input-bar button {
    height: 35px;
    min-width: 75px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: var(--darkMode-transition-speed);
}

.back-button svg{
    width: 25px;
    height: 25px;
    fill: rgb(114, 114, 114);
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
    line-height: 13px;
    padding-top: .5em;
    padding-bottom: .5em;
}

.toggle-switch p{
    text-align: center;
    font-size: 0.75em;
    padding-top: .25em;
}

.toggle-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch input:checked + .slider {
    background-color: var(--accent-color);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
}

    input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Page setup */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    top: 0;
    left: 0;
    min-height: 45px;
    height: 5%;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-container {
    padding-right: 8rem;
}

/*  Home Page Setup     */
.prompt-user-name-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    font-size: 5rem;
    z-index: 3;
}

.prompt-user-name-container.show {
    display: flex;
}

.prompt-user-name-container p {
    font-size: .35em;
}

.prompt-user-name-container .user-name-input-submit {
    height: 35px;
    width: 75px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#homepage-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    margin-bottom: 10rem;
}

#homepage-header .title {
    margin-top: 10rem;
    margin-left: 10rem;
}

#homepage-header .game-container{
    margin-top: 10rem;
    margin-right: 10rem;
}

#homepage-header h1 {
    font-size: 5em;
    display: flex;
    flex-direction: column;
}

#homepage-header .toggle-switch {
    align-self: flex-start;
}

#game-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 100px;
    padding: 5rem 0;
}

#game-selection .join-game .game-card {
    height: 60px;
    min-width: 350px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#game-selection .join-game .game-card a,
#game-selection .join-game .game-card h4 {
    color: #333;
}


#game-selection .join-game .game-card:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: 3rem;
}

#game-selection .join-game .game-card:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#game-selection .join-game .game-card > * {
    padding: 1rem;
}

#game-selection .join-game .game-card a {
    text-decoration: underline;
    font-size: 1.1em;
}
#game-selection .join-game .game-card a:hover {
    text-decoration: underline;
    color: var(--accent-color)
}

/* #game-example {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
      -o-perspective: 300px;
         perspective: 300px;
}

#board-example {
    position: absolute;
    overflow: hidden;
    transform: translateY(21px) translate(0px, 33%) rotate3d(1, 0, 0, 90deg);
} */

/*  Game Page Setup     */
.left {
    width: 70%;
}
.content {
    padding: 2rem;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  Chat Box    */
.chat {
    width: 30%;
    min-width: 350px;
    padding: 1em;
    border-left: 1px solid var(--secondary-color);
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--darkMode-transition-speed);
}

.chat input[type=text] {
    padding: 1em;
    color: var(--text-color);
    border: transparent;
    border-radius: .25em;
    background-color: var(--input-background-color);
    transition: var(--darkMode-transition-speed);
}

#message-container {
    height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#message-container div {
    margin: 1em 0;
}

.chatMessage {
    word-break: break-all;
}

.otherMessage {
    width: 75%;
    padding: .75rem;
    border-radius: .5rem;
    background-color: rgb(114, 114, 114);
    color: white;
}

.selfMessage {
    width: 75%;
    padding: .75rem;
    border-radius: .5rem;
    background-color: var(--accent-color);
    color: white;
    align-self: flex-end;
}

.gameMessage {
    width: 100%;
    border-radius: .5rem;
    color: var(--text-color);
    text-align: center;
}

#send-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#message-input, #send-button {
    height: 35px;
}

#message-input {
    width: 80%;
    word-wrap: normal;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
}

#send-button {
    width: 75px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Game Container */
.game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#turnMessage {
    text-align: center;
    margin: 5rem;
    margin-top: 10rem;
}

/*  Tic-tac-toe Game */
.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.hide {
    display: none;
}

.cell.none {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    transition: var(--darkMode-transition-speed);
}

.cell.circle::before,
.cell.circle::after {
    transition: var(--darkMode-transition-speed);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--tictactoe-line-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: var(--darkMode-transition-speed);
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}
.cell:nth-child(3n+3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x, .cell.circle, .cell.spectator {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--background-color);
    transition: var(--darkMode-transition-speed);
}

.winning-message {
    display: none;
    position: fixed;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    font-size: 5rem;
}

.winning-message.show {
    display: flex;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: white;
    color: white;
    border-color: white;
}